*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
}

#calc{
    margin-top: 50px;
    border: solid;
    border-radius: 10px;
    height: 500px;
    width: 350px;
}

#conteiner{
    height: 100%;
    display: grid;
    grid-template-rows: 25% auto;
}

#aba_resultado{
    display: flex;
    justify-content: center;
    align-items: center;
}

#result{
    width: 80%;
    height: 50%;
    border: solid;
}

#conteudo{
    display: flex;
}

#aba1{
    flex-grow: 3;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;

}

#aba2{
    flex-grow: 1;
    display: grid;
}

#op1{
    grid-template-columns: 65% auto;
    display: grid;
    padding: 10px;
    gap: 10px;
}

#op2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 9px;
    padding: 10px;
}

#op3{
    display: grid;
    grid-template-rows: auto auto auto 38%;
    gap: 10px;
    padding: 10px;
}

#op4{
    display: grid;
    grid-template-columns: 65% auto;
    gap: 10px;
    padding: 10px;
}

